In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("F:\datasets\country_vaccinations.csv")

In [35]:
df.head(4)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Argentina,ARG,2020-12-29,700.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
1,Argentina,ARG,2020-12-30,NaN,NaN,NaN,NaN,15656.0,NaN,NaN,NaN,346.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
2,Argentina,ARG,2020-12-31,32013.0,NaN,NaN,NaN,15656.0,0.07,NaN,NaN,346.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
3,Argentina,ARG,2021-01-01,NaN,NaN,NaN,NaN,11070.0,NaN,NaN,NaN,245.0,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...

In [40]:
y= df.loc[:,['source_name']]

y.head(9)

          source_name
0  Ministry of Health
1  Ministry of Health
2  Ministry of Health
3  Ministry of Health
4  Ministry of Health
5  Ministry of Health
6  Ministry of Health
7  Ministry of Health
8  Ministry of Health

In [41]:
x=df.loc[:,['country']]
x.head(5)

     country
0  Argentina
1  Argentina
2  Argentina
3  Argentina
4  Argentina

In [42]:
from sklearn.model_selection import train_test_split

In [44]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [45]:
X_train.shape

(926, 1)

In [46]:
X_test.shape

(397, 1)