In [2]:
# DataFrame is 2 dimensional.

import pandas as pd

ipl_teams_with_captains = pd.DataFrame([["Virat Kohli","RCB"],
                                        ["M S Dhoni", "Chennai Super Kings"],
                                        ["Rohit Sharma","Mumbai Indians"],
                                        ["Samson","Rajasthan Royals"],
                                        ["Kane Williamson","Sun Risers Hyderabad"]
                                        
    
])

ipl_teams_with_captains

                 0                     1
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [3]:
import pandas as pd

ipl_teams_with_captains = pd.DataFrame([["Virat Kohli","RCB"],
                                        ["M S Dhoni", "Chennai Super Kings"],
                                        ["Rohit Sharma","Mumbai Indians"],
                                        ["Samson","Rajasthan Royals"],
                                        ["Kane Williamson","Sun Risers Hyderabad"]],
                                      columns = ["Captain name","Team"])

ipl_teams_with_captains

      Captain name                  Team
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad