In [16]:
# DataFrame is 2 dimensional.

import pandas as pd

ipl_teams_with_captains = pd.DataFrame([["Virat Kohli","RCB"],
                                        ["M S Dhoni", "Chennai Super Kings"],
                                        ["Rohit Sharma","Mumbai Indians"],
                                        ["Samson","Rajasthan Royals"],
                                        ["Kane Williamson","Sun Risers Hyderabad"]
                                        
    
])

ipl_teams_with_captains

                 0                     1
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [3]:
import pandas as pd

ipl_teams_with_captains = pd.DataFrame([["Virat Kohli","RCB"],
                                        ["M S Dhoni", "Chennai Super Kings"],
                                        ["Rohit Sharma","Mumbai Indians"],
                                        ["Samson","Rajasthan Royals"],
                                        ["Kane Williamson","Sun Risers Hyderabad"]],
                                      columns = ["Captain name","Team"])

ipl_teams_with_captains

      Captain name                  Team
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [5]:
 #variable.head(n) gives first n number of rows
    ipl_teams_with_captains.head(2)

  Captain name                 Team
0  Virat Kohli                  RCB
1    M S Dhoni  Chennai Super Kings

In [6]:
#variable.tail(n) gives last n number of rows
ipl_teams_with_captains.tail(2)

      Captain name                  Team
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [8]:
#variable.shape gives the dimensions of a dataset
ipl_teams_with_captains.shape

(5, 2)

In [9]:
#variable.info() will return a more detailed information

ipl_teams_with_captains.info()
#when you look at the DType column of the output,  the object is nothing but string.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Captain name  5 non-null      object
 1   Team          5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [14]:
#ipl_teams_with_captains["Team"]
#ipl_teams_with_captains["Captain name"]
ipl_teams_with_captains[["Team","Captain name"]]

                   Team     Captain name
0                   RCB      Virat Kohli
1   Chennai Super Kings        M S Dhoni
2        Mumbai Indians     Rohit Sharma
3      Rajasthan Royals           Samson
4  Sun Risers Hyderabad  Kane Williamson

In [17]:
#iloc returns specific rows and columns by position
ipl_teams_with_captains.iloc[1,1]

'Chennai Super Kings'

In [19]:
ipl_teams_with_captains

                 0                     1
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [21]:
#the iloc : returns all rows or columns

ipl_teams_with_captains.iloc[:,:]

                 0                     1
0      Virat Kohli                   RCB
1        M S Dhoni   Chennai Super Kings
2     Rohit Sharma        Mumbai Indians
3           Samson      Rajasthan Royals
4  Kane Williamson  Sun Risers Hyderabad

In [23]:
ipl_teams_with_captains.iloc[0:1,:]
#We can specify the range

             0    1
0  Virat Kohli  RCB